{% extends "spaced_repetition/base.html" %}

{% block title %}TinyRemind | Add Topic{% endblock %}

{% block content %}
        <h1>Add topic</h1>

        <a href="/">Back</a>

        <form action="/add_topic" method="post">
                {% csrf_token %}
                <div>
                        <label for="title">Title: </label>
                        <input name="title" id="title" type="text" required>
                </div>
                <div>
                        <label for="url">URL: </label>
                        <input name="url" id="url" type="text">
                </div>
                <div>
                        <label for="comment">Comment: </label>
                        <textarea id="comment" name="comment" cols="30" rows="10"></textarea>
                </div>
                <div>
                        <button type="submit">Add</button>
                </div>
        </form>
{% endblock %}
