{% extends "spaced_repetition/base.html" %}

{% block content %}
        <h1>Remind</h1>

        <a href="/add_topic">Add topic</a>

        <ol>
                {% for topic in topics %}
                <li>
                        <a href="/topic/{{ topic.id }}">{{ topic.title }}</a>
                        {% if topic.url %}
                        | <a href="{{ topic.url }}" target="_blank">link</a>
                        {% endif %}
                        {% if topic.is_due %}
                        | Ready to review
                        {% endif %}
                </li>
                {% endfor %}
        </ol>
{% endblock %}
